.dropdown-content
  background-color: #fff
  margin: 0
  display: none
  min-width: 100px
  max-height: 650px
  overflow-y: auto
  opacity: 0
  position: absolute
  z-index: 999
  will-change: width, height

.dropdown-content li
  clear: both
  color: rgba(0, 0, 0, 0.87)
  cursor: pointer
  line-height: 1.5rem
  width: 100%
  text-align: left
  text-transform: none

.dropdown-content li:hover,
.dropdown-content li.active
  background-color: #eee

.dropdown-content li > a,
.dropdown-content li > span
  font-size: 1.2rem
  color: #4285F4
  display: block
  padding: 1rem 1rem

.dropdown-content li > a > i
  height: inherit
  line-height: inherit

.dropdown-menu
  border-radius: 0

.dropdown-menu li
  clear: both
  color: rgba(0, 0, 0, 0.87)
  cursor: pointer
  line-height: 1.5rem
  width: 100%
  text-align: left
  text-transform: none

.dropdown-menu li:hover,
.dropdown-menu li.active
  background-color: #eee

.dropdown-menu li > a,
.dropdown-menu li > span
  font-size: 1.2rem
  color: #4285F4
  display: block
  padding: 1rem 1rem

.dropdown-menu li > a > i
  height: inherit
  line-height: inherit

