.navbar
  border: 0
  border-radius: 0
  font-weight: 300

.navbar .navbar-brand
  position: relative
  height: 60px
  line-height: 30px
  color: rgba(255, 255, 255, 0.84)

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus
  color: rgba(255, 255, 255, 0.84)
  background-color: transparent

.navbar .navbar-text
  color: rgba(255, 255, 255, 0.84)
  margin-top: 20px
  margin-bottom: 20px

.navbar .navbar-nav > li > a
  color: rgba(255, 255, 255, 0.84)
  padding-top: 20px
  padding-bottom: 20px

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus
  color: rgba(255, 255, 255, 0.84)
  background-color: transparent

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus
  color: rgba(255, 255, 255, 0.84)
  background-color: rgba(0, 0, 0, 0.05)

.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus
  color: #E5E5E5
  background-color: transparent

.navbar .navbar-toggle
  border-color: rgba(255, 255, 255, 0.84)

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus
  background-color: transparent

.navbar .navbar-toggle .icon-bar
  background-color: rgba(255, 255, 255, 0.84)

.navbar .navbar-collapse,
.navbar .navbar-form
  border-color: rgba(0, 0, 0, 0.1)

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus
  background-color: rgba(0, 0, 0, 0.05)
  color: rgba(255, 255, 255, 0.84)

@media (max-width: 767px)
  .navbar .navbar-nav .open .dropdown-menu > .dropdown-header
    border: 0
    color: rgba(212, 212, 212, 0.84)

  .navbar .navbar-nav .open .dropdown-menu .divider
    background-color: rgba(255, 255, 255, 0.84)

  .navbar .navbar-nav .open .dropdown-menu > li > a
    color: rgba(255, 255, 255, 0.84)

  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus
    color: rgba(255, 255, 255, 0.84)
    background-color: transparent

  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus
    color: rgba(255, 255, 255, 0.84)
    background-color: rgba(0, 0, 0, 0.05)

  .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus
    color: #E5E5E5
    background-color: transparent

.navbar .navbar-link
  color: rgba(255, 255, 255, 0.84)

.navbar .navbar-link:hover
  color: rgba(255, 255, 255, 0.84)

.navbar .navbar-link
  color: rgba(255, 255, 255, 0.84)

.navbar .navbar-link:hover,
.navbar .navbar-link:focus
  color: rgba(255, 255, 255, 0.84)

.navbar .navbar-link[disabled]:hover,
.navbar .navbar-link[disabled]:focus,
fieldset[disabled] .navbar .navbar-link:hover,
fieldset[disabled] .navbar .navbar-link:focus
  color: #E5E5E5

.navbar .navbar-form
  margin-top: 0
  margin-bottom: 0

.navbar .navbar-form .form-control-wrapper .form-control,
.navbar .navbar-form .form-control
  border-color: rgba(255, 255, 255, 0.84)
  color: rgba(255, 255, 255, 0.84)

.navbar .navbar-form .form-control-wrapper .material-input:before,
.navbar .navbar-form .form-control-wrapper input:focus ~ .material-input:after
  background-color: rgba(255, 255, 255, 0.84)

.navbar .navbar-form ::-webkit-input-placeholder
  color: rgba(255, 255, 255, 0.84)

.navbar .navbar-form :-moz-placeholder
  color: rgba(255, 255, 255, 0.84)

.navbar .navbar-form ::-moz-placeholder
  color: rgba(255, 255, 255, 0.84)

.navbar .navbar-form :-ms-input-placeholder
  color: rgba(255, 255, 255, 0.84)

.navbar-inverse
  background-color: #5264AE

.navbar-white
  background-color: #FFF

.navbar-white .navbar-brand,
.navbar-white .navbar-brand:hover,
.navbar-white .navbar-brand:focus
  color: rgba(0, 0, 0, 0.84)

.navbar-white .navbar-nav > li > a
  color: rgba(0, 0, 0, 0.84)

.navbar-white .navbar-nav > li > a:hover,
.navbar-white .navbar-nav > li > a:focus
  color: rgba(0, 0, 0, 0.84)
  background-color: transparent

.navbar-white .navbar-nav > .active > a,
.navbar-white .navbar-nav > .active > a:hover,
.navbar-white .navbar-nav > .active > a:focus
  color: rgba(0, 0, 0, 0.84)
  background-color: rgba(0, 0, 0, 0.05)

.navbar-white .navbar-nav > .disabled > a,
.navbar-white .navbar-nav > .disabled > a:hover,
.navbar-white .navbar-nav > .disabled > a:focus
  color: rgba(0, 0, 0, 0.84)
  background-color: transparent

.navbar-white .navbar-nav > .open > a,
.navbar-white .navbar-nav > .open > a:hover,
.navbar-white .navbar-nav > .open > a:focus
  background-color: rgba(0, 0, 0, 0.05)
  color: rgba(0, 0, 0, 0.84)

@media (min-width: 767px)
  .navbar-fixed-top
    padding: 10px 0
    background-color: transparent
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out
    transition: background .5s ease-in-out, padding .5s ease-in-out
    z-index: 10

  .navbar-fixed-top .navbar-nav > li
    color: #666666
    font-size: 20px
    transition-duration: 1s

  .top-nav-collapse
    padding: 0
    background-color: inherit

  .top-nav-collapse .navbar-nav > li > a
    color: #fff
    transition-duration: 1s
    font-size: 20px

