.pagination li
  float: left
  font-size: 1.2rem
  line-height: 30px
  border-radius: 2px
  text-align: center

.pagination li .active
  background-color: #ee6e73

.pagination li a
  border: 0
  color: #444

.pagination li a:active
  color: #000

.pagination li a:hover
  background-color: transparent

.pagination-dark li
  float: left
  font-size: 1.2rem
  line-height: 30px
  border-radius: 2px
  text-align: center

.pagination-dark li .active
  background-color: #ee6e73

.pagination-dark li a
  border: 0
  color: #eee
  background-color: transparent

.pagination-dark li a:active
  color: #000

.pagination-dark li a:hover
  background-color: transparent

.pag-circle .active a
  border-radius: 50%

